/* DEFAULT STYLING APPLIED TO EVERYTHING */
/* HEAVILY INFLUENCED BY https://maya.rbind.io/*/

/* IMPORT FONTS */
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat&family=Nunito+Sans:wght@200&family=Roboto+Mono:wght@300&family=Sanchez&display=swap&family=Quicksand&display=swap&family=Nixie+One&family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap&family=Yeseva+One&display=swap&family=Arvo&display=swap');

/* SET CSS VARIABLES (ACCESSIBLE EVERYWHERE) */
:root {
  /* Main palette */
  --accent-colour: #3f51b5; /* Used for accenting on e.g. icons */
  --dark-accent-colour: #000080; /* For darker accents e.g. hover icons and title */
  --text-colour: #0d0d0d; /* Default colour of text (body and title) */
  --navbar-background-colour: #fffff7; /* Colour of navbar */
  --navbar-text-colour: #808080; /* For everything in navbar other than title */
  --body-background-colour: #FFE7E7; /* Background of main body (below navbar) */
  /* Code chunk palette */
  /* Currently not used! We just rely on default theme in _metadata.yml */
  --code-body-colour: white; /* Colour of main text */
  --code-background-colour: #24292e; /* Background colour of code chunks */
  --code-function-colour: #B392F0; /* Colour of code functions */
  --code-comment-colour: #999999; /* Colour of code comments */ 
  /* Fonts */
  --main-font: 'Raleway'; /* This is the main body font */
  --subheader-font: 'Nixie One'; /* Other headers */
  --header-font: 'Yeseva One'; /* <h1> font */
}

/* Defaults title */
h1 {
  font-family: var(--header-font);
  font-size: 3rem;
  color: var(--text-colour);
}

/* Defaults subtitles */
h2, h3, h4, h5, h6 {
  font-family: var(--subheader-font);
  color: var(--text-colour);
}

p {
  color: var(--text-colour);
  font-family: var(--main-font);
}

/* Text inside header is flush to sides */
#quarto-header nav {
  padding-left: 0em;
  padding-right: 0em;
}

/* Everything on navbar is grey (except title which we overwrite above) with .navbar-title*/
.navbar * {
  color: var(--navbar-text-colour);
}

/* Not sure what the quarto-category class is used for...*/
.quarto-category {
  background: var(--accent-colour);
    color: white;
    border-radius: 45px;
    padding: 3px 8px;
    text-align: center;
    width: max-content;
    display: inline;
    margin-right: 8px;
    border: 0px solid white;
}

/* Also not sure... */
.navbar-collapse {
  background: var(--navbar-background-colour);
}

/* Also unsure... */
#title-block-header {
    margin-block-end: 1rem;
    position: relative;
    margin-top: 150px;
}

/* Also unsure... */
.quarto-title-banner {
    margin-bottom: 0.8em;
    color: var(--text-colour);
    background: transparent;
}

h1.quarto-title-banner {
    margin-bottom: 0.8em;
    color: var(--text-colour);
    background: transparent;
}

/* Also unsure... */
.quarto-title-meta {
  display: none;
}

/* Hide table of contents by default (may want to override this in blogs) */
#TOC {
  display: none;
}

/* Also unsure... */
.quarto-margin-sidebar {
  display: none;
}

/* Defaults for other headers */
h2,h3,h4,h5,h6 {
  font-family: var(--subheader-font);
}

h2, .h2 {
  border-bottom: 0px solid #dee2e6;
}

h1, h2, h3 {
  text-transform: uppercase;
}

body {
  font-family: var(--main-font);
  background: var(--body-background-colour);
}

/* Also unsure... */
::-moz-selection {
  background: #ffb7b7; /* Gecko Browsers */
}

/* Also unsure... */
::selection {
  background-color: var(--navbar-background-colour);
}

/**** navbar overrides *****/
/* Make custom navbar... */
/* Hers is really nice, we will keep it and tweak */

/* My name on the navbar*/
.navbar-title {
    /* Can add e.g. underline */
    text-decoration: none;
    /* How quickly the background properties transition */
    transition: background .75s;
    /* Make a colour gradient from transparent to our background-colour variable */
    /* currently we the gradient occurs from transparent to full colour at 90% */
    /* this means that basically the box is transparent for the first 90% and then coloured */
    /* if we adjust the 90% values, we can make a nice gradient */
    background-image: linear-gradient(transparent 90%, var(--dark-accent-colour) 90%);
    /* By default the background has 0% width (i.e. not visible)*/
    background-size: 0% 100%;
    background-repeat: no-repeat;
    background-position: top center;
    /* All other colours on navbar are grey, overwrite this so title is our text colour */
    color: var(--text-colour);
}

/* When we hover, the background above becomes full width */
.navbar-title:hover {
    background-size: 70% 100%;
}

/* Expand thickness of navbar */
/* for now we just keep it normal size */
header nav {
    height: 0px;
}

/* Colour and contents navbar */
.navbar {
  background-color: var(--navbar-background-colour);
  /* Have slight white shadow under navbar (create smooth transition) */
  box-shadow: 0 0 50px rgba(252, 252, 252, 0.8);
  /* text-transform: lowercase; */
  background-image: linear-gradient(to bottom,  var(--navbar-background-colour),  var(--navbar-background-colour),  var(--navbar-background-colour),  var(--navbar-background-colour),  var(--navbar-background-colour),  var(--navbar-background-colour));  
  /* No matter how small screen gets navbar can't get less than 100px*/
  min-height: 100px;
  position: fixed;
  width: 100%;
}

/* Space between navbar and content */
.quarto-container {
  margin-top: 100px;
}

/* All text in the navbar */
/* navbar-brand is my name (the 'brand') */
/* li and a are the menu lingers */
.navbar-brand, .navbar-nav li.nav-item a.nav-link {
  height: inherit;
  /* line-height: 30px; */ /* This seems to make icons and text misaligned*/
  padding-top: 7px;
  padding-bottom: 5px;
}

.navbar-nav {
  padding-right: 50px;
}

/* Style the title slightly different to others */
.navbar-dark .navbar-brand{
   height: inherit;
   line-height: 30px;
   padding-top: 7px;
   padding-bottom: 5px;
   margin-left: 50px;
   font-weight: 500;
   font-size: 1.7rem;
}

/* Hide search icon (it shows up even when 'search: false' in metadata */
#quarto-search {
  display: none;
  width: 0;
  height: 0;
} 

.navbar .quarto-navbar-tools {
  display: none;
  width: 0;
  height: 0;
  margin: 0;
  padding: 0;
}
/* Menu items (not the title) */
li.nav-item {
  text-align: center;
}

/* Speed of change for menu items */
a.nav-link,
a.nav-link:after,
a.nav-link:before {
  transition: all .5s;
}

a.nav-link {
  position: relative;
}

/* When we hover over links they change colour and get line beneath */
a.nav-link:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.'; /* make invisible, dot beneath links */
  color: transparent;
  background: var(--accent-colour);
  height: 2px;
}

a.nav-link:hover:after {
  width: 70%;
}

/* Do this differently otherwise GH or Twitter logos disappear after click...*/
/* NO IDEA WHY! */
/* -dark .navbar-nav .nav-link */
.nav-item *:hover {
    color: var(--accent-colour);
}

/* When we are on one of the selected pages we fix it with the accent colour and underline */
.nav-link.active span {
  color: var(--accent-colour);
}

a.nav-link.active:after {
  width: 70%;
}

/* Toggle dark and light theme (currently not active) */
.navbar-dark .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='gray' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    margin-right: 50px;
}

/* Change colour of text inside links on hover */
p > a:hover {
  color: var(--accent-colour);
  text-decoration: none;
}

p > a {
  position: relative;
  color: var(--accent-colour);
  text-decoration: none;
}

ul.share li a {
    background-color: var(--accent-colour);
}

p > a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--accent-colour);
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}

a {
  color: var(--accent-colour);
}

a:hover {
  color: var(--accent-colour);
}

p > a:hover::before {
  visibility: visible;
  transform: scaleX(1);
}

/* Change here if we want to make our own custom code chunk styling */

/* Background and border of chunk */
/* div.sourceCode {
    background-color: var(--code-background-colour);
    border: 2px solid var(--code-background-colour);
    border-radius: 0.25rem;
    color: white;
} */

/* Colour of functions */
/* code span.fu {
    color: var(--code-function-colour);
} */

/* Colour of comments (make slightly lighter) */
code span.co {
  color: var(--code-comment-colour);
}


/*** REACTIVITY ***/

/* On small screens need to reduce title/navbar 
so that it all fills */
@media (max-width: 650px){

  .navbar {
    min-height: 60px;
  }

  .navbar-dark .navbar-brand {
    width: 0;
    padding-top: 0;
    padding-bottom: 0;
    margin: 0;
  }

  .navbar-nav {
    width: 100%;
    justify-content: center;
    margin: 0;
    padding: 0;
  }

  .nav-item .nav-item.compact {
    height: 50%;
  }

  .nav-item{
    padding-left: 2vw;
    padding-right: 2vw;
  }

}

/**** CALLOUT STYLING ****/
/* Change how callouts look */

/* Make background dark with light text */
/* .callout {
 background: #24292e;
} */

/* Make title bigger and bold */
.callout-title-container {
  font-size: 12pt;
  font-weight: 700;
  text-transform: uppercase;
}

.callout-body-container p{
  color: #24292e;
}
